/* Here we can set styles for this lab page that we don't want to effect others pages */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #a386e6;
    background-color: #a386e6;
  }

  /* create a class special to change the apperance*/

    .special {
        background-color: lavender;
        border: dotted 50px rgba(144, 27, 227, 0.671);
        color: black;
        font-weight: bold;
    }