.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #a386e6;
    background-color: #a386e6;
}

#output {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.result {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}
