.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #a386e6;
    background-color: #a386e6;
}

/* Light beige background */
#output {
    background-color: #ecead5;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Common styles for text bubbles */
.text {
    max-width: 60%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    color: black;
}

/* Grey Bubble */
.text-left {
    background-color: #4b4848;
    color: white; /* Ensure text is readable on dark background */
    align-self: flex-start; /* Align to the left */
}

/* Green Bubble */
.text-right {
    background-color: #51d751;
    color: black; /* Ensure text is readable on light background */
    align-self: flex-end; /* Align to the right */
}

