.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #a386e6;
    background-color: #a386e6;
  }


/*Light beige background*/
#output {
    background-color: #ecead5;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

text  {
    max-width: 60%;
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    color: black;
  }

/*Grey Bubble*/
.text-left{
    background-color: #751414;
    align-self: flex-start;
}

/*Green Bubble*/
.text-right{
    background-color: #90ee90;
    align-self: flex-end;
}